.block {
    background-image: url(img/blocks.png);
    background-repeat: no-repeat;
    display: block;
    transform: scale(.64);
    transform-origin: -100% -100%;
}

.block_date_2 {
    width: 178px;
    height: 85px;
    background-position: 0 0;
}

.block_date_3 {
    width: 178px;
    height: 85px;
    background-position: -178px 0;
}

.block_date_arq {
    width: 178px;
    height: 85px;
    background-position: -356px 0;
}

.block_date_cavalry {
    width: 178px;
    height: 85px;
    background-position: -534px 0;
}

.block_fukushima_2 {
    width: 178px;
    height: 85px;
    background-position: -712px 0;
}

.block_fukushima_3 {
    width: 178px;
    height: 85px;
    background-position: 0 -85px;
}

.block_fukushima_arq {
    width: 178px;
    height: 85px;
    background-position: -178px -85px;
}

.block_fukushima_cavalry {
    width: 178px;
    height: 85px;
    background-position: -356px -85px;
}

.block_ishida_block_back {
    width: 178px;
    height: 85px;
    background-position: -534px -85px;
}

.block_kobayakawa_2 {
    width: 178px;
    height: 85px;
    background-position: -712px -85px;
}

.block_kobayakawa_3 {
    width: 178px;
    height: 85px;
    background-position: 0 -170px;
}

.block_kobayakawa_arq {
    width: 178px;
    height: 85px;
    background-position: -178px -170px;
}

.block_kobayakawa_cavalry {
    width: 178px;
    height: 85px;
    background-position: -356px -170px;
}

.block_maeda_2 {
    width: 178px;
    height: 85px;
    background-position: -534px -170px;
}

.block_maeda_3 {
    width: 178px;
    height: 85px;
    background-position: -712px -170px;
}

.block_maeda_arq {
    width: 178px;
    height: 85px;
    background-position: 0 -255px;
}

.block_maeda_cavalry {
    width: 178px;
    height: 85px;
    background-position: -178px -255px;
}

.block_mori_2 {
    width: 178px;
    height: 85px;
    background-position: -356px -255px;
}

.block_mori_3 {
    width: 178px;
    height: 85px;
    background-position: -534px -255px;
}

.block_mori_arq {
    width: 178px;
    height: 85px;
    background-position: -712px -255px;
}

.block_mori_cavalry {
    width: 178px;
    height: 85px;
    background-position: 0 -340px;
}

.block_round_date_2 {
    width: 178px;
    height: 85px;
    background-position: -178px -340px;
}

.block_round_date_3 {
    width: 178px;
    height: 85px;
    background-position: -356px -340px;
}

.block_round_date_leader {
    width: 178px;
    height: 85px;
    background-position: -534px -340px;
}

.block_round_uesugi_3 {
    width: 178px;
    height: 85px;
    background-position: -712px -340px;
}

.block_round_uesugi_arq {
    width: 178px;
    height: 85px;
    background-position: 0 -425px;
}

.block_round_uesugi_leader {
    width: 178px;
    height: 85px;
    background-position: -178px -425px;
}

.block_setup_ishida_leader {
    width: 178px;
    height: 85px;
    background-position: -356px -425px;
}

.block_square_ishida_leader {
    width: 178px;
    height: 85px;
    background-position: -534px -425px;
}

.block_square_kobayakawa_3 {
    width: 178px;
    height: 85px;
    background-position: -712px -425px;
}

.block_square_kobayakawa_leader {
    width: 178px;
    height: 85px;
    background-position: 0 -510px;
}

.block_square_mori_cavalry {
    width: 178px;
    height: 85px;
    background-position: -178px -510px;
}

.block_square_tokugawa_3 {
    width: 178px;
    height: 85px;
    background-position: -356px -510px;
}

.block_square_tokugawa_arq {
    width: 178px;
    height: 85px;
    background-position: -534px -510px;
}

.block_square_tokugawa_leader {
    width: 178px;
    height: 85px;
    background-position: -712px -510px;
}

.block_square_ukita_2 {
    width: 178px;
    height: 85px;
    background-position: 0 -595px;
}

.block_square_ukita_leader {
    width: 178px;
    height: 85px;
    background-position: -178px -595px;
}

.block_star_fukushima_cavalry {
    width: 178px;
    height: 85px;
    background-position: -356px -595px;
}

.block_star_fukushima_leader {
    width: 178px;
    height: 85px;
    background-position: -534px -595px;
}

.block_star_naomasa {
    width: 178px;
    height: 85px;
    background-position: -712px -595px;
}

.block_tokugawa_2 {
    width: 178px;
    height: 85px;
    background-position: 0 -680px;
}

.block_tokugawa_3 {
    width: 178px;
    height: 85px;
    background-position: -178px -680px;
}

.block_tokugawa_arq {
    width: 178px;
    height: 85px;
    background-position: -356px -680px;
}

.block_tokugawa_block_back {
    width: 178px;
    height: 85px;
    background-position: -534px -680px;
}

.block_tokugawa_cavalry {
    width: 178px;
    height: 85px;
    background-position: -712px -680px;
}

.block_triangle_maeda_2 {
    width: 178px;
    height: 85px;
    background-position: 0 -765px;
}

.block_triangle_maeda_arq {
    width: 178px;
    height: 85px;
    background-position: -178px -765px;
}

.block_triangle_maeda_leader {
    width: 178px;
    height: 85px;
    background-position: -356px -765px;
}

.block_triangle_mori_3 {
    width: 178px;
    height: 85px;
    background-position: -534px -765px;
}

.block_triangle_mori_leader {
    width: 178px;
    height: 85px;
    background-position: -712px -765px;
}

.block_uesugi_3 {
    width: 178px;
    height: 85px;
    background-position: -890px 0;
}

.block_uesugi_arq {
    width: 178px;
    height: 85px;
    background-position: -890px -85px;
}

.block_uesugi_cavalry {
    width: 178px;
    height: 85px;
    background-position: -890px -170px;
}

.block_ukita_2 {
    width: 178px;
    height: 85px;
    background-position: -890px -255px;
}

.block_ukita_3 {
    width: 178px;
    height: 85px;
    background-position: -890px -340px;
}

.block_ukita_arq {
    width: 178px;
    height: 85px;
    background-position: -890px -425px;
}

.block_ukita_cavalry {
    width: 178px;
    height: 85px;
    background-position: -890px -510px;
}

.misc {
    background-image: url(img/misc.png);
    background-repeat: no-repeat;
    display: block;
}

.misc_black_cube {
    width: 44px;
    height: 50px;
    background-position: 0 0;
}

.misc_blank_cube {
    width: 44px;
    height: 50px;
    background-position: -44px 0;
}

.misc_gold_cube {
    width: 44px;
    height: 50px;
    background-position: -88px 0;
}

.misc_sanada_masayuki {
    width: 85px;
    height: 85px;
    background-position: 0 -50px;
}

.misc_toyotomi_hideyori {
    width: 85px;
    height: 85px;
    background-position: -132px 0;
}

.misc_turn_ishida {
    width: 60px;
    height: 60px;
    background-position: -85px -85px;
}

.misc_turn_tokugawa {
    width: 60px;
    height: 60px;
    background-position: -145px -85px;
}

.card {
    background-image: url(img/cards.png);
    background-repeat: no-repeat;
    display: block;
}

.card_01_blackloyalty_x4 {
    width: 179px;
    height: 250px;
    background-position: 0 0;
}

.card_02_fukushima6_x1 {
    width: 179px;
    height: 250px;
    background-position: -179px 0;
}

.card_03_fukushima4_x4 {
    width: 179px;
    height: 250px;
    background-position: -358px 0;
}

.card_04_fukushima2_x7 {
    width: 179px;
    height: 250px;
    background-position: -537px 0;
}

.card_05_date6_x1 {
    width: 179px;
    height: 250px;
    background-position: -716px 0;
}

.card_06_date4_x4 {
    width: 179px;
    height: 250px;
    background-position: -895px 0;
}

.card_07_date2_x6 {
    width: 179px;
    height: 250px;
    background-position: 0 -250px;
}

.card_08_maeda6_x1 {
    width: 179px;
    height: 250px;
    background-position: -179px -250px;
}

.card_09_maeda4_x4 {
    width: 179px;
    height: 250px;
    background-position: -358px -250px;
}

.card_10_maeda2_x7 {
    width: 179px;
    height: 250px;
    background-position: -537px -250px;
}

.card_11_tokugawa6_x1 {
    width: 179px;
    height: 250px;
    background-position: -716px -250px;
}

.card_12_tokugawa4_x5 {
    width: 179px;
    height: 250px;
    background-position: -895px -250px;
}

.card_13_tokugawa2_x10 {
    width: 179px;
    height: 250px;
    background-position: 0 -500px;
}

.card_14_goldloyalty_x3 {
    width: 179px;
    height: 250px;
    background-position: -179px -500px;
}

.card_15_kobayakawa5_x1 {
    width: 179px;
    height: 250px;
    background-position: -358px -500px;
}

.card_16_kobayakawa3_x5 {
    width: 179px;
    height: 250px;
    background-position: -537px -500px;
}

.card_17_kobayakawa1_x8 {
    width: 179px;
    height: 250px;
    background-position: -716px -500px;
}

.card_18_mori5a-x1 {
    width: 179px;
    height: 250px;
    background-position: -895px -500px;
}

.card_19_mori3a-x5 {
    width: 179px;
    height: 250px;
    background-position: 0 -750px;
}

.card_20_mori1_x10a {
    width: 179px;
    height: 250px;
    background-position: -179px -750px;
}

.card_21_uesugi5_x1 {
    width: 179px;
    height: 250px;
    background-position: -358px -750px;
}

.card_22_uesugi3_x3 {
    width: 179px;
    height: 250px;
    background-position: -537px -750px;
}

.card_23_uesugi1_x4 {
    width: 179px;
    height: 250px;
    background-position: -716px -750px;
}

.card_24_ukita5_x1 {
    width: 179px;
    height: 250px;
    background-position: -895px -750px;
}

.card_25_ukita3_x5 {
    width: 179px;
    height: 250px;
    background-position: -1074px 0;
}

.card_26_ukita1_x8 {
    width: 179px;
    height: 250px;
    background-position: -1074px -250px;
}

.card_back_blackdeck_f {
    width: 179px;
    height: 250px;
    background-position: -1074px -500px;
}

.card_back_golddeck_f {
    width: 179px;
    height: 250px;
    background-position: -1074px -750px;
}
